.page{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
.header {
	margin: 70px 70px 70px 70px;
	
	
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.menu-left {
}
.minimo {
font-family: Inconsolata;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #000000;
}
.menu-right {
	display: flex;
	
	
}
.menu-right ul{
display: flex;
justify-content: space-between;
min-width: 575px;
}
.menu-right-link a{
text-decoration: none;
font-family: 'Playfair Display';
font-size: 14px;
text-transform: uppercase;
color: #626262;
}
.image-twogirls{
	padding-top: 77px;
}
header img{
	width: 100%;
}
.menu-content {
}

.content-diary {
	max-width: 900px;
	margin: 0 auto;
}
.photodiary {
font-family: Ubuntu;
font-size: 14px;
text-transform: uppercase;
color: #b4ad9e;
padding-bottom: 29px;
}
.getaway {
font-family: 'Playfair Display';
font-size: 30px;
color: #626262;
padding-bottom: 34px;
}
.text {
	line-height: 24px;
font-family: 'Playfair Display';
font-size: 14px;
color: #626262;
}
.comment {
font-family: Ubuntu;
font-size: 14px;
text-transform: uppercase;
color: #b4ad9e;
padding-top: 52px ;
}
.grid-loyout {
	padding-top: 134px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	max-width: 900px;
	margin: 0 auto;
	grid-column-gap: 32px;
	grid-row-gap: 132px;
}
.block {

}
.block-photo {
}
.block-info {
font-family: Ubuntu;
font-size: 14px;
text-transform: uppercase;
color: #b4ad9e;
padding: 32px 0 32px 0;
}
.block-title {
	font-family: 'Playfair Display';
font-size: 30px;
color: #626262;
padding-bottom: 32px;
}
.block-text {
font-family: 'Playfair Display';
font-size: 14px;
line-height: 24px;
color: #626262;
}
.feedback {
	padding-top: 122px;
	max-height: 287px;
	background-color: #f0f0f0;
	
}
.feedback-wrapper{

	
}
.feeback-text {
}
.cool-button {
}
.button-img {
}
.main-button {
	
}
.load-more {
	display: flex;
	justify-content: center;
	padding: 88px 0 88px 0;
}
.button {
	width: 164px;
height: 60px;
border: 1px solid #626262;
font-family: 'Playfair Display';
font-size: 20px;
line-height: 24px;
font-weight: 400;
color: #626262;
text-decoration: none;
}
.footer {
	border: 2px solid black;
	margin-top: auto;
	
}
.content-down {
}
.content-down__left {
}
.menu-down {
}
.content-down__right {
}
.facebook {
}
.twitter {
}
.instagram {
}